{% extends "layouts/base.html" %}

{% block content %}
{% if pagination.pageNumber == 0 %}
<div id="wrapper">
  <article class="intro">
    <div class="[ intro__header ] [ radius frame ]">
      <h1 class="[ intro__heading ] [ weight-normal text-400 md:text-600 ]">
        {{ intro.eyebrow }}
        <em class="text-800 md:text-900 lg:text-major weight-bold"
          >{{ intro.main }}</em
        >
      </h1>
    </div>
    <div class="[ intro__content ] [ flow ]">
      <p class="intro__summary">{{ intro.summary }}</p>
    </div>
  </article>
</div>
  {% else %}
  {% set pageHeaderTitle = 'Archive of ' + title %}
<article>
  {% include "partials/page-header.html" %}
</article>
  {% endif %}
{% set postListItems = pagination.items %}
<article>
  {% include "partials/post-list.html" %}
  {% include "partials/pagination.html" %}
</article>
{% endblock %}
