<div class="wrapper">
  <aside class="buy-me-a-coffee">
    <h2 class="buy-me-a-coffee__headline">Do you appreciate my content?</h2>
    <p>If you'd like to show your appreciation for my content because it may have helped you in some way or you just liked it, you can buy me a hot beverage with the below PayPal button. It's safe and secure, and I'll be very grateful.</p>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="BL3P9BB77K2UC" />
      <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
    </form>
    </aside>
</div>
